<!--<div class="container">-->
<!--  <app-cookpit-->
<!--    (serverCreated)="onServerAdded($event)"-->
<!--    (bluePrintCreated)="onBlueprintAdded($event)"-->
<!--  ></app-cookpit>-->
<!--  <hr>-->
<!--  <div class="row">-->
<!--&lt;!&ndash;    print all the server components&ndash;&gt;-->
<!--&lt;!&ndash;    [element]="elementServer" -> custom binding &ndash;&gt;-->


<!--&lt;!&ndash;  *ngFor="let elementServer of serverElements"&ndash;&gt;-->
<!--&lt;!&ndash;  [element]="elementServer"&ndash;&gt;-->

<!--&lt;!&ndash;this is another way of getting element from another components&ndash;&gt;-->
<!--<app-server-element-->
<!--  *ngFor="let elementServer of serverElements"-->
<!--  [servElement]="elementServer"-->



<!--&gt;</app-server-element>-->

<!--  </div>-->
<!--</div>-->

<div class="container">
<!--  routin link-->
  <nav>
    <a routerLink="/hero" >Go to Hero Page</a>
    <br>

    <a routerLink="/dashboard" >Go to DashBoard </a>
  </nav>

<!--  <app-entity></app-entity>-->
  <router-outlet></router-outlet>
  <app-message></app-message>
</div>
